.mongodb/data/journal/WiredTigerLog.0000000002 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerPreplog.0000000001 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerPreplog.0000000002 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000003 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000006 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000008 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000009 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000010 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000011 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000013 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000014 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000016 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000018 filter=lfs diff=lfs merge=lfs -text
.mongodb/data/journal/WiredTigerLog.0000000020 filter=lfs diff=lfs merge=lfs -text
